<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>New Beer Rating</title>
    </head>
    <body>
        <h1>Please enter your rating</h1>

        <form action="/rating/<%=pubInfo[0].id %>" method="post">
            <!-- <input type="hidden" name="_method" value="patch" /> -->
            <input type="hidden" name="id" value="<%=pubInfo[0].id %>" />
            <label>Pub name:</label>
            <label for=""><%=pubInfo[0].pubname%></label>
            <br />

            <label for="">Beer Type</label>
            <select name="beerType" required>
                <% beertypes.forEach(beertype => { %>
                <option value="<%= beertype.id%>"
                    ><%=beertype.beertype%>
                </option>
                <% }); %>
            </select>
            <br />

            <label for="">Beer Brand</label>
            <select name="beerBrand" id="beerBrand" required>
                <% beerbrands.forEach(beerbrand => { %>
                <option value="<%= beerbrand.id%>"
                    ><%=beerbrand.beerbrand%>
                </option>
                <% }); %>
            </select>
            <br />
            <label for="">Beer Rating</label>
            <select name="rating" id="" required>
                <option value="5">5-Star</option>
                <option value="4">4-Star</option>
                <option value="3">3-Star</option>
                <option value="2">2-Star</option>
                <option value="1">1-Star</option>
            </select>
            <br />
            <button>Submit</button>
            <button>Return</button>
        </form>
    </body>
</html>
