<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <h1>Please enter pub information</h1>
        <% let street = ""; let postCode = ""; let suburb = "";
        if(address.address!='undefined') { street = address.address; } else {
        street = "" } if(address.postCode!='undefined') { postCode =
        address.postCode; } else { postCode = "" }
        if(address.suburb!="undefined") { suburb = address.suburb; } else {
        suburb = "" } console.log(address); %> ​
        <form action="" method="post">
            <input type="hidden" name="lat" value="<%= address.lat %>" />
            <input type="hidden" name="long" value="<%= address.long%>" />
            <label for="pubName">Pub name:</label>
            <input type="text" name="pubName" />
            <label for="streetAddress">Street Address</label>
            <input type="text" name="streetAddress" value="<%= street%>" />
            <label for="postCode">Post Code</label>
            <input type="text" name="postCode" value="<%= postCode %>" />
            <label for="suburb">Suburb</label>
            <input type="text" name="suburb" value="<%= suburb %>" />
            <button>Submit Pub and Add Beer Rating</button>
            <button>Return</button>
        </form>
        <script></script>
    </body>
</html>
